body,
html {
  margin: 0;
  max-width: 100vw;
}

@media only screen and (min-width: 401px) {
  #juhee_main {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #0e1c36;
    display: flex;
    flex-direction: column;
  }
  #juhee_main2 {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #3c91e6;
    display: flex;
    flex-direction: column;
  }
  .main2 {
    width: 100vw;
    height: 100vh;
    background-color: #0e1c36;
    display: flex;
    flex-direction: column;
  }
  .juhee_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header {
    flex-basis: 80px;
    background-color: #ffff;
    border-radius: 0 0 20px 20px;
  }

  .content {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .juhee_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .left {
    margin: 25px 0 25px 126px;
    border-radius: 22px;
    flex-basis: 13%;
    background-color: #ffff;
  }
  .right {
    margin: 25px;
    border-radius: 22px;
    display: flex;
    flex-basis: 70%;
    background-color: #ffff;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .right1 {
    margin: 25px 126px 25px 25px;
    border-radius: 22px;
    flex-basis: 70%;
    background-color: #ffff;
    /* 확인 필ㅛ */
    min-height: 80vh;
  }

  .right2 {
    margin: 25px 126px 25px 0px;
    border-radius: 22px;
    width: 20%;
    height: 40%;
    background-color: #ffff;
    padding: 1rem;
  }

  /*
Min
*/

  #min_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    text-align: left;
    padding-left: 25px;
    min-height: 80vh;
    height: 619.533px;
  }

  #min_categories {
    font-size: 26px;
  }

  #min_menu:visited {
    color: #bababa;
  }

  #min_menu:hover {
    color: #000000;
  }

  #min_menu:active {
    color: #000000;
  }

  /* Arielle Coding */
  #nav_content1 {
    width: 30%;
  }

  #nav_content2 {
    width: 60%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navLinks {
    padding: 20px;
  }

  a {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
  }

  #logo {
    width: 35px;
    height: 35px;
    padding: 10px;
    margin-bottom: -15px;
  }

  #app_title {
    font-size: 26px;
    color: #4d5674;
    margin-left: -50px;
  }

  #home {
    color: #4d5674;
  }

  #petitions {
    color: #538be2;
  }

  #avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;

    margin-left: -150px;
    margin-top: 10px;
  }

  .search {
    width: 600px;
    height: 25px;

    border: 2px solid #4d5674;

    margin-left: -800px;
    margin-top: 20px;
    position: absolute;
  }

  .searchbar {
    width: 500px;
    border-radius: 8px 0 0 8px;
    border: 0;
  }

  form.search button {
    color: #4d5674;
    font-size: 15px;
  }

  button {
    border: 0;
    padding: 0;
    width: 70px;

    cursor: pointer;
    height: 25px;

    color: #4d5674;
    background: transparent;
    font-family: "DM Sans", sans-serif;
    border-radius: 0 8px 8px 0;
    border-left: 2px solid #4d5674;
  }

  /*Alicia Coding*/
  .aliciaheadings {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: center;
    align-items: left;
    margin-left: 10%;
  }

  .aliciahome {
    color: grey;
    font-size: 20px;
    text-decoration-line: underline;
  }

  .aliciatrendingposts {
    display: flex;
    color: grey;
    font-size: 26px;
  }

  .aliciaalldivs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aliciadiv1 {
    display: flex;

    width: 80%;
    height: 166px;
    border: gray solid 0.5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .aliciacontleft {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    height: 166px;
    justify-content: center;
    text-align: center;
  }
  .aliciacontright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 166px;
    margin-left: 15px;
    overflow: auto;
  }

  .aliciaimgs {
    display: flex;
    border-radius: 50px;
  }

  .aliciap {
    width: 80%;
  }

  .aliciah3 {
    width: 80%;
  }

  .aliciathumbsup {
    width: 80%;
    margin-bottom: 5px;
  }

  .aliciacontright2 {
    display: flex;
    justify-content: flex-start;
    width: 10%;
  }

  /*Juhee */
  .juheediv1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 166px;
    border: gray solid 0.5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .michael_page_avatar {
    padding: 0 2% 0 2%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .michael_avatar_img {
    border-radius: 100%;
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
  }
  .juhee_leftcont {
    display: flex;
    flex-direction: row;
  }
  .michael_page_avatar_container01 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .michael_page_avatar_container01 h3 {
    margin: 0 0 0 1rem;
  }
  .michael_page_avatar_container01 h5 {
    margin: 0 0 0 1rem;
  }

  .michael_avatar_name {
    margin: 0.5rem;
  }

  .michael_avatar_postDate {
    margin: 0.5rem;
  }

  .michael_page_avatar_container02 {
    display: flex;
    min-height: 65px;
  }

  .michael_avatar_detail {
    margin: 0.55rem;
  }
  .michael_details_desc {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
    flex-grow: 1;
  }
  .michael_details_desc p {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .juheethumbsup {
    margin-top: 0.5rem;
  }
  .aliciatoparrow {
    margin-top: 0.5rem;
  }
  .michael_xButton {
    display: flex;
    justify-content: flex-start;

    /* flex-grow: 1; */
    min-width: -moz-available;

  }

  .michael_x {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1.5rem;
    /* margin-bottom: 0rem; */
    border-radius: 100%;
    min-width: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    min-height: 2rem;
  }

  .michael_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 80%;
    /* padding-left: 7.5rem; */
    /* padding-right: 7.5rem; */
  }

  .michael_title {
    font-family: sans-serif;

    display: flex;
    flex-grow: 3;
    /* justify-content: center; */
  }

  .michael_page_img {
    display: flex;
    flex-grow: 3;
    /* justify-content: center; */
    margin-bottom: 1rem;
  }

  .michael_img {
    display: flex;
    flex-grow: 1;
    /* justify-content: center; */
    /* max-width: 100%; */
    max-height: 15rem;
    object-fit: cover;
    object-position: 50% 100%;

  }
  .michael_postdetail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .michael_page_avatar {
    display: flex;
    flex-grow: 1;
    /* justify-content: left; */
    align-items: center;
    flex-direction: row;
  }

  .michael_avatar_img {
    border-radius: 100%;
    min-width: 5rem;
    min-height: 5rem;
    max-width: 5rem;
    max-height: 5rem;
  }

  .michael_page_avatar_container01 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 65px;
  }

  .michael_avatar_name {
    margin: 0.5rem;
  }

  .michael_avatar_postDate {
    margin: 0.5rem;
  }

  .michael_page_avatar_container02 {
    display: flex;
    /* align-items: flex-start; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    min-height: 65px;
  }

  .michael_avatar_detail {
    margin: 0.55rem;
  }
  /* ------------ GLIAN'S CODE ----------- */

  #GlianMain {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1.5rem 3rem 0 0;
    width: 275px;
    height: 357px;
    border-radius: 25px;
    padding: 30px;
  }

  #HashtagsGlian {
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  #LikeNCommentGlian {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 70px;
  }

  .Text1Glian {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #121a35;
    position: relative;
    bottom: 6px;
  }

  .UsernameGlian {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }

  .BoldGlian {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    margin: 0;
    flex-grow: 1;
  }

  .TextGlian {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    margin: 0;
    flex-grow: 2;
  }

  .hearts {
    flex-grow: 1;
    height: 20px;
    width: 15px;
  }

  .stroke {
    width: 0;
    height: 20px;
  }

  .CommentGlian {
    margin-top: 40px;
  }

  .commentBox {
    position: relative;
    bottom: 8px;
    left: 15px;
    width: 200px;
    height: 25px;
    border-radius: 20px;
  }

  /* ---------------- Login Page CSS ---------------- */

  .LoginBody {
    margin: 0;
    background-color: #0e1c36;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  #LoginMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    width: 400px;
    height: 500px;
    border-radius: 30px;
  }

  .ConnectedGlian {
    font-family: Arial, Helvetica, sans-serif;
    color: #4d5674;
  }

  .labelLogin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .spaceGlian {
    height: 50px;
  }

  .inputLogin {
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #c4c4c4;
  }

  .passwordLogin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .buttonLogin {
    width: 250px;
    height: 40px;
    background-color: #0e1c36;
    border: none;
    border-radius: 10px;
    color: white;
  }

  /* -------- End of Login --------- */

  /* Start of Nav Bar */

  #nav_content1 {
    width: 30%;
  }

  #nav_content2 {
    width: 60%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navLinks {
    padding: 20px;
  }

  a {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
  }

  #logo {
    width: 35px;
    height: 35px;
    padding: 10px;

    margin-bottom: -15px;
  }

  #app_title {
    font-size: 26px;
    color: #4d5674;

    margin-left: -50px;
  }

  #home {
    color: #4d5674;
  }

  #petitions {
    color: #538be2;
  }

  #avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
    margin-left: -150px;
    margin-top: 10px;
  }

  .search {
    width: 600px;
    height: 25px;

    border: 2px solid #4d5674;

    margin-left: -800px;
    margin-top: 20px;
    position: absolute;
  }

  .searchbar {
    width: 500px;
    border-radius: 8px 0 0 8px;
    border: 0;
  }

  form.search button {
    color: #4d5674;
    font-size: 15px;
  }

  button {
    border: 0;
    padding: 0;
    width: 70px;

    cursor: pointer;
    height: 25px;

    color: #4d5674;
    background: transparent;
    font-family: "DM Sans", sans-serif;
    border-radius: 0 8px 8px 0;
    border-left: 2px solid #4d5674;
  }

  /*End of Nav Bar*/
}

/* min responsive */
@media only screen and (max-width: 400px) {
  .juhee_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .juhee_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    min-height: 10vh;
    flex-basis: 80px;
    background-color: #fad;
    border-radius: 0 0 20px 20px;
  }

  .nav_content2 {
    display: none;
  }

  #app_title {
    display: none;
  }

  #home {
    display: none;
  }

  #petitions {
    display: none;
  }

  #min_div {
    align-items: center;
  }

  #min_categories {
    text-align: center;
  }

  #min_menu {
    text-align: center;
  }

  .aliciadiv1 {
    display: flex;
    flex-direction: row;
    padding: 5%;
    border-style: solid;
    border-radius: 15px;
    border-color: peachpuff;
    border-width: thin;
    margin-bottom: 5%;
  }
  .aliciacontleft {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* height: 166px; */
    justify-content: center;
    text-align: center;
  }

  .aliciacontright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 166px; */
    margin-left: 15%;
    overflow: auto;
  }

  .aliciap {
    display: none;
  }

  .aliciacontright2 {
    display: none;
  }

  .aliciaimgs {
    display: flex;
    border-radius: 50px;
  }

  .michael_avatar_img {
    display: flex;
    border-radius: 50px;
    width: 15%;
  }

  .juhee_leftcont {
    display: flex;
  }
  .michael_page_avatar_container01 {
    display: flex;
  }
  .michael_page_avatar_container02 {
    display: none;
  }

  .aliciahome {
    display: none;
  }
  .aliciatrendingposts {
    text-align: center;
  }

  .juheediv1 {
    border-style: solid;
    border-radius: 15px;
    border-color: lightblue;
    border-width: thin;
    margin-bottom: 5%;
    padding: 5px;
  }

  .juheethumbsup {
    display: flex;
    justify-content: end;
  }
}
