@media only screen and (max-width:400px) {

    .juhee_row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    
    .juhee_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    
    .header {
      min-height: 10vh;
      flex-basis: 80px;
      background-color: #fad;
      border-radius: 0 0 20px 20px;
    }
    
    .nav_content2 {
      display:none;
    }
    
    #app_title{
      display:none;
    }
    
    #home {
      display:none;
    }
    
    #petitions {
      display:none;
    }
    
    #min_div {
      align-items: center;
    }
    
    #min_categories {
      text-align: center;
    }
    
    #min_menu {
      text-align: center;
    
    }
    
    .aliciadiv1 {
      display:flex;
      flex-direction: row;
      padding: 5%;
    }
    .aliciacontleft {
      display: flex;
      flex-direction: column;
      width: 20%;
      /* height: 166px; */
      justify-content: center;
      text-align:center;
    
    }
    
    .aliciacontright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* height: 166px; */
      margin-left: 15%;
      overflow: auto;
    }
    
    .aliciap {
      display:none;
    }
    
    .aliciacontright2{
      display:none;
    }
    }