body,
html {
  margin: 0;
}
#juhee_main {
  width: 100vw;
  height: 100vh;
  background-color: #0e1c36;
  display: flex;
  flex-direction: column;
}
.juhee_row {
  display: flex;
}

.header {
  flex-basis: 80px;
  background-color: #ffff;
  border-radius: 0 0 20px 20px;
}

.content {
  flex-grow: 1;
}

.juheecol {
  display: flex;
  flex-direction: column;
}

.left {
  margin: 25px 0 25px 126px;
  border-radius: 22px;
  flex-basis: 199px;
  background-color: #ffff;
}
.right {
  margin: 25px 126px 25px 25px;
  border-radius: 22px;
  flex-grow: 1;
  background-color: #ffff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */

  max-height: fit-content;
  max-width: fit-content;

}

.michael_container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}

.michael_title{
    font-family: sans-serif;

    display: flex;
    flex-grow: 1;
    /* justify-content: center; */
}

.michael_page_img{
    display: flex;
    flex-grow: 3;
    /* justify-content: center; */
}

.michael_img{
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: center; */
}

.michael_page_avatar{
    display: flex;
    flex-grow: 1;
    /* justify-content: ; */
    flex-direction: row;
}

.michael_avatar_img{
    border-radius: 100%;
}

.michael_page_avatar_container01{
    display: flex;
    flex-direction: column;justify-content: space-evenly;
}