body,
html {
  margin: 0;
}
#juhee_main {
  width: 100vw;
  height: 100vh;
  background-color: #0e1c36;
  display: flex;
  flex-direction: column;
}
.juhee_row {
  display: flex;
}

.header {
  flex-basis: 80px;
  background-color: #ffff;
  border-radius: 0 0 20px 20px;
}

.content {
  flex-grow: 1;
}

.juheecol {
  display: flex;
  flex-direction: column;
}

.left {
  margin: 25px 0 25px 126px;
  border-radius: 22px;
  flex-basis: 199px;
  background-color: #ffff;
}
.right {
  margin: 25px 126px 25px 25px;
  border-radius: 22px;
  flex-grow: 1;
  background-color: #ffff;

}

.aliciaheadings{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
  left: 180px;
}

.aliciahome {
  color: grey;
  font-size: 20px;
  text-decoration-line: underline;
}

.aliciatrendingposts {
  display: flex;
  color: grey;
  font-size: 26px;
}

.aliciaalldivs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position:relative;
  top: -10px;
}

.aliciadiv1 {
  display: flex;

  width: 799px;
  height: 166px;
  border:gray solid 0.5px;
  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.aliciacont2{
  display: block;

  position: relative;
  bottom: 25px;
  top: -20px;
}

.aliciaimgs {
  display: flex;
  align-items: center;

  position:relative;
  top: 50px;
  left: 20px;
}

.aliciap {
  margin-left: auto;
  margin-right: auto;
  width: 75%;

  position:relative;
  left: 20px;
  bottom: 50px;
}

.aliciah3{
  margin-left: auto;
  margin-right: auto;
  width: 75%;

  position:relative;
  left: 20px;
  bottom: 50px;
}

.aliciathumbsup {
  position: relative;
  bottom: 60px;
  left: 120px;
}

.aliciatoparrow {
  position: relative;
  bottom: 118%;
  left: 91%;
}